.container__about {
  padding-left: 10%;
  padding-right: 10%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  .circle {
    z-index: 0;
    filter: brightness(0.06);
    position: absolute;
    width: 700px;
    height: 700px;
    border-radius: 100%;
    right: -500px;
    background-color: #9f9f9f;
    @media only screen and (min-width: 768px) {
      right: -300px;
    }
  }

  &-content {
    z-index: 1;
  }
  &-block {
    border-top: solid 1px #c0c0c0;
    column-gap: 50px;
    margin-bottom: 50px;
    a {
      text-decoration: underline;
    }
    @media only screen and (min-width: 1024px) {
      display: flex;
      width: 70%;
      p {
        width: 65%;
      }
      h3 {
        width: 35%;
      }
    }
  }
}
