@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-Regular.ttf") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-Light.ttf") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-Bold.ttf") format("woff");
  font-weight: 700;
}

body {
  margin: 0;
  font-family: Helvetica, "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

$color1: #f6f6f6;
$color2: #c0c0c0;
$color3: #2c2c2c;
$color3: #000000;

h1 {
  font-family: Helvetica, "Roboto", sans-serif;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0%;
}
h2,
h3,
h4,
p {
  font-family: "Roboto", Helvetica, sans-serif;
}
h2 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0%;
}
h3,
h4,
p {
  line-height: 25px;
  letter-spacing: 0%;
}

h3 {
  font-size: 20px;
}
h4 {
  font-size: 14px;
}
p {
  font-size: 14px;
}
nav {
  letter-spacing: 5%;
}
