.container {
  &__portfolio {
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  &__carousel {
    height: 80%;
    width: fit-content;
    display: flex;
    align-items: center;
  }
}
