.container {
  &__portfolio {
    height: 100vh;
    overflow: scroll;
  }
  &__carousel {
    // overflow: scroll;
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
  }
}
